body {
    background-color:white;
    margin: 0;
    font-family: sans-serif;
}
.header {
    background-color: #116466;
    height: 23%;
}
.d1 {
    width: 100%;
    margin: auto;
}
.d1 h2 {
    float: left;
    padding-left: 25px;
    padding-top: 10px;
    width: 45%;
}
.navigator {
    width: 45%;
    float: left;
    padding-top: 2%;   
}
.menu li{
    list-style-type: none;
    display: inline;
    padding-right: 10%;
    color: black;
    font-weight: 300;
    opacity: 65%;
}
.menu{
    padding-right: 10%;
}
.image{
    height:40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #116466;
}
.image img{
    height: 70%;
    padding-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
}
.image h3{
    margin-bottom: 0%;
}
.image h5{
    margin: 0%;
}
.obj{
    height: 25%;
    margin: 0;
    display: block;
    background-color: #d1e8e2;
}
.obj h2,p{
    margin: 0;
    padding: 1%;
}
.cs{
    background-color: #d9b98c;
    height: 50%;

}
.edit{
    margin: 1%;
    border: #116466;
    border-width: 2px;
    margin-top: 0%;    
}
.edit h2{
    padding-top: 3%;
}
.cs h2{
    margin-top: 0%;
}
.interpersonal{
    background-color: #d1e8e2;
    height: 50%;
}
.interpersonal h2{
    margin-top: 0%;
}
.project1{
    background-color: #d9b98c;
    border-style: dotted;
    padding:20px;
    margin:50px;
    height: 65%;
}
.project1 h2{
    margin-top: 0%;
}
.project2{
    background-color: #d1e8e2;
    height: 60%;
}
.project2 h3{
    margin-top: 0%;
}
.academic{
    background-color: #d9b98c;
    height: 50%;
}
.academic h3{
    margin-top: 0%;
}
.knowledge{
    background-color: #d1e8e2;
    height: 50%;
}
.knowledge h3{
    margin-top: 0%;
}
.footer{
    height: 15%;
    background-color: #116466;
}
.foot1 p{
    text-align: center;
    margin-top: 0%;
}